@import "./colors.css";


body{
    background-color: var(--quaternary-color);
    font-family: "Avenir Next" !important;
    color: var(--tertiary-color);
}

main{
    margin: 25px 25px 25px 25px
}
 
@media screen and (max-width: 1024px) {
    main{
        margin:auto auto !important;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }