@import "./colors.css";

body{
    background-color: var(--quaternary-color);
    font-family: "Avenir Next" !important;
    color: var(--tertiary-color);
}

main{
    margin: 25px 25px 25px 125px
}
 
@media screen and (max-width: 1024px) {
    main{
        margin:25px auto auto 25px !important;
    }
    .c-home-socials{
        justify-content: space-evenly;
        width: 100%;
        display: flex;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}



.c-gh-card{
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    text-align: center;
    max-height: 275px;
    min-height: 275px;
    margin: 20px;
}

.c-gh-card-title{
    border-bottom-style: none;
    border-bottom-width: 19px;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    margin-bottom: 0px;
    height: 50px;
}

.c-gh-card-text{
    float:left;
    width: 60%;
    padding: 10px;
}

.c-gh-card-icon-container{
    border-bottom: 20px var(--tertiary-color);
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.c-gh-card-icon{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
}

/* .c-gh-card-icon:hover{
    color: var(--primary-color);
} */

.c-gh-card-icon:last-child {
    border-bottom-width: 0;
    display: block;
}

.c-gh-card-icon:last-child:hover {
    color: var(--primary-color);
}

.c-home-card{
    text-align: center;
    width: 100% !important;
    padding: 50px;
    top: 50px;
    height: 350px;
}

.c-gh-card-body {
    padding-top:0;
    padding-bottom: 0;
    height: 215px;
}
.c-gh-card-statbar{
    display: block;
    float: right;
    border-color: var(--tertiary-color);;
    border-left-style: solid;
    border-left-width: 2px;
    width: 25%;
    margin: 0;
    padding: 0;
    height: 215px;
}

.c-gh-card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}