@import "./colors.css";

body{
    background-color: var(--quaternary-color);
    font-family: "Avenir Next" !important;
    color: var(--tertiary-color);
}

main{
    margin: 25px 25px 25px 125px
}
 
@media screen and (max-width: 1024px) {
    main{
        margin:25px auto auto 25px !important;
    }
    .c-home-socials{
        justify-content: space-evenly;
        width: 100%;
        display: flex;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-left-align {
    text-align: left;
}


.c-gh-card{
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    text-align: center;
    max-height: 275px;
    min-height: 275px;
    margin: 20px;
}

.c-gh-card-title{
    border-bottom-style: none;
    border-bottom-width: 19px;
    border-bottom-style: solid;
    border-bottom-width: 6px;
    margin-bottom: 0px;
    height: 50px;
}

.c-gh-card-text{
    float:left;
    width: 75%;
    padding: 10px;
}

.c-gh-card-icon-container{
    border-bottom: 20px var(--tertiary-color);
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.c-gh-card-icon{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    margin-top:5px;
    margin-left:10px
}


.c-gh-card-icon:last-child {
    border-bottom-width: 0;
    display: block;
}

.c-gh-card-icon:last-child:hover {
    color: var(--primary-color);
}

.c-home-card{
    text-align: center;
    width: 100% !important;
    padding: 50px;
    margin-top: 15%;
    height: 350px;
}

.c-gh-card-body {
    padding-top:0;
    padding-bottom: 0;
    height: 215px;
}
.c-gh-card-statbar{
    display: block;
    float: right;
    border-color: var(--tertiary-color);;
    border-left-style: solid;
    border-left-width: 2px;
    width: 25%;
    margin: 0;
    padding: 0;
    height: 215px;
}

.c-gh-card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.navbar-link {
    text-align: center;
}

.navbar-toggler{
    float: right
}

.secondary-color{
    color: var(--secondary-color) !important;
}

.brand-link{
    display: block;
    text-align: center;
    color: var(--secondary-color) !important;
    border-bottom: var(--secondary-color) 5px;
    margin-bottom: 10px;
}

.brand-link > p{
    width: 100%;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
}
.gradientNav {
    background:  var(--primary-color) !important;
    color: var(--tertiary-color) !important;
}

.nav{
    float: right;
    position: absolute;
    width: 25px;
}
.gradientNavLink, .dropdown-menu, .shortNav, .fullNav {
    background: var(--primary-color);
    color: var(--tertiary-color) !important;
}
.gradientNavLink:hover{
    color: var(--secondary-color) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200,218,211, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.nav-link-text{
    font-size: large;
}
.nav-link-icon{
    font-size: x-large;
}

.shortNav {
    display: none !important;
}

.fullNav {
    display: inherit;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
.sidenav a {
    padding: 20px 6px 6px 6px;
    text-decoration: none;
    text-align: center;
    color: var(--secondary-color);
    display: block;
}
  
.sidenav a:hover {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
}
 
@media screen and (max-width: 1024px) {
    .shortNav {
        display: inherit !important;
    }

    .fullNav {
        display: none !important;
    }
}


*:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.hide{
    display: none !important;
}