.gradientNav {
    background: linear-gradient(to left, #FBC926, #5E6B69) !important;
    color: #FBC926 !important;
}

.gradientNavLink, .dropdown-menu, .shortNav, .fullNav {
    background: rgba(0, 0, 0, 0);
    color: rgba(251, 201, 38, 0.7) !important;
}
.gradientNavLink:hover{
    color: #FBC926 !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(73,119,117, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}


.shortNav {
    display: inherit;
}

.fullNav {
    display: none !important;
}

@media screen and (max-width: 1024px) {
    .shortNav {
        display: none !important;
    }

    .fullNav {
        display: inherit !important;
    }
}